In [1]:
# Import Statements
import mysql.connector
from mysql.connector import errorcode

In [2]:
# Try to make connection to DB
try: 
    sakila_connection = mysql.connector.connect(
      host="localhost",
      user="root",
      password="", 
      database = "sakila")
except mysql.connector.Error as err:
    print('Cannot connect to database: ', err)

In [22]:
# Need a cursor to execute queries 
sakila_cursor = sakila_connection.cursor()

# Inserts
# 1. Insert a new actor by getting user input - Example
print('Movie Category Name? ', end = '')
category = input()
print('Date updated? ', end = '')
update = input()
sakila_insert_category = ("INSERT INTO category (name, last_update) VALUES (%s,%s)")
sakila_data = (category, update)
sakila_cursor.execute(sakila_insert_category,sakila_data)
sakila_connection.commit()

# 2. Insert your favorite film by getting user input - Student to do

Movie Category Name?

 Romance - test 3

Date updated?

 2024-05-01

In [23]:
# Fetching Values
# 1. Fetch all movies from the year 2005 
movie_query = ('''SELECT title, description, release_year, rating 
                FROM film 
                WHERE release_year = %s
                AND rating = %s 
                AND rental_rate>%s''')
movie_data = (2006, 'G',2.99)
sakila_cursor.execute(movie_query, movie_data)
for row in sakila_cursor.fetchall():
    print(row)
# 2. Update the above query to get $.99 movies that are R rated. -Student to do

('ACE GOLDFINGER', 'A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China', 2006, 'G')
('AUTUMN CROW', 'A Beautiful Tale of a Dentist And a Mad Cow who must Battle a Moose in The Sahara Desert', 2006, 'G')
('BEAUTY GREASE', 'A Fast-Paced Display of a Composer And a Moose who must Sink a Robot in An Abandoned Mine Shaft', 2006, 'G')
('BIRD INDEPENDENCE', 'A Thrilling Documentary of a Car And a Student who must Sink a Hunter in The Canadian Rockies', 2006, 'G')
('BIRDS PERDITION', 'A Boring Story of a Womanizer And a Pioneer who must Face a Dog in California', 2006, 'G')
('BREAKFAST GOLDFINGER', 'A Beautiful Reflection of a Student And a Student who must Fight a Moose in Berlin', 2006, 'G')
('CASABLANCA SUPER', 'A Amazing Panorama of a Crocodile And a Forensic Psychologist who must Pursue a Secret Agent in The First Manned Space Station', 2006, 'G')
('CASUALTIES ENCINO', 'A Insightful Yarn of a A Shark And a Pastry Chef who must Face a Boy in A Monastery', 2006, 'G')
('CAT CONEHEADS', 'A Fast-Paced Panorama of a Girl And a A Shark who must Confront a Boy in Ancient India', 2006, 'G')
('CHISUM BEHAVIOR', 'A Epic Documentary of a Sumo Wrestler And a Butler who must Kill a Car in Ancient India', 2006, 'G')
('CLERKS ANGELS', 'A Thrilling Display of a Sumo Wrestler And a Girl who must Confront a Man in A Baloon', 2006, 'G')
('COLDBLOODED DARLING', 'A Brilliant Panorama of a Dentist And a Moose who must Find a Student in The Gulf of Mexico', 2006, 'G')
('CONQUERER NUTS', 'A Taut Drama of a Mad Scientist And a Man who must Escape a Pioneer in An Abandoned Mine Shaft', 2006, 'G')
('CONTROL ANTHEM', 'A Fateful Documentary of a Robot And a Student who must Battle a Cat in A Monastery', 2006, 'G')
('DADDY PITTSBURGH', 'A Epic Story of a A Shark And a Student who must Confront a Explorer in The Gulf of Mexico', 2006, 'G')
('DAISY MENAGERIE', 'A Fast-Paced Saga of a Pastry Chef And a Monkey who must Sink a Composer in Ancient India', 2006, 'G')
('DARN FORRESTER', 'A Fateful Story of a A Shark And a Explorer who must Succumb a Technical Writer in A Jet Boat', 2006, 'G')
('DAY UNFAITHFUL', 'A Stunning Documentary of a Composer And a Mad Scientist who must Find a Technical Writer in A U-Boat', 2006, 'G')
('DAZED PUNK', 'A Action-Packed Story of a Pioneer And a Technical Writer who must Discover a Forensic Psychologist in An Abandoned Amusement Park', 2006, 'G')
('DESPERATE TRAINSPOTTING', 'A Epic Yarn of a Forensic Psychologist And a Teacher who must Face a Lumberjack in California', 2006, 'G')
('DESTINY SATURDAY', 'A Touching Drama of a Crocodile And a Crocodile who must Conquer a Explorer in Soviet Georgia', 2006, 'G')
('DOGMA FAMILY', 'A Brilliant Character Study of a Database Administrator And a Monkey who must Succumb a Astronaut in New Orleans', 2006, 'G')
('DUDE BLINDNESS', 'A Stunning Reflection of a Husband And a Lumberjack who must Face a Frisbee in An Abandoned Fun House', 2006, 'G')
('EASY GLADIATOR', 'A Fateful Story of a Monkey And a Girl who must Overcome a Pastry Chef in Ancient India', 2006, 'G')
('EVE RESURRECTION', 'A Awe-Inspiring Yarn of a Pastry Chef And a Database Administrator who must Challenge a Teacher in A Baloon', 2006, 'G')
('FIDELITY DEVIL', 'A Awe-Inspiring Drama of a Technical Writer And a Composer who must Reach a Pastry Chef in A U-Boat', 2006, 'G')
('GARDEN ISLAND', 'A Unbelieveable Character Study of a Womanizer And a Madman who must Reach a Man in The Outback', 2006, 'G')
('GHOST GROUNDHOG', 'A Brilliant Panorama of a Madman And a Composer who must Succumb a Car in Ancient India', 2006, 'G')
('GOSFORD DONNIE', 'A Epic Panorama of a Mad Scientist And a Monkey who must Redeem a Secret Agent in Berlin', 2006, 'G')
('HANGING DEEP', 'A Action-Packed Yarn of a Boat And a Crocodile who must Build a Monkey in Berlin', 2006, 'G')
('HEARTBREAKERS BRIGHT', 'A Awe-Inspiring Documentary of a A Shark And a Dentist who must Outrace a Pastry Chef in The Canadian Rockies', 2006, 'G')
('HEAVYWEIGHTS BEAST', 'A Unbelieveable Story of a Composer And a Dog who must Overcome a Womanizer in An Abandoned Amusement Park', 2006, 'G')
('ITALIAN AFRICAN', 'A Astounding Character Study of a Monkey And a Moose who must Outgun a Cat in A U-Boat', 2006, 'G')
('LAWLESS VISION', 'A Insightful Yarn of a Boy And a Sumo Wrestler who must Outgun a Car in The Outback', 2006, 'G')
('MIDSUMMER GROUNDHOG', 'A Fateful Panorama of a Moose And a Dog who must Chase a Crocodile in Ancient Japan', 2006, 'G')
('MOONWALKER FOOL', 'A Epic Drama of a Feminist And a Pioneer who must Sink a Composer in New Orleans', 2006, 'G')
('PANIC CLUB', 'A Fanciful Display of a Teacher And a Crocodile who must Succumb a Girl in A Baloon', 2006, 'G')
('PANKY SUBMARINE', 'A Touching Documentary of a Dentist And a Sumo Wrestler who must Overcome a Boy in The Gulf of Mexico', 2006, 'G')
('SATISFACTION CONFIDENTIAL', 'A Lacklusture Yarn of a Dentist And a Butler who must Meet a Secret Agent in Ancient China', 2006, 'G')
('SATURDAY LAMBS', 'A Thoughtful Reflection of a Mad Scientist And a Moose who must Kill a Husband in A Baloon', 2006, 'G')
('SECRETS PARADISE', 'A Fateful Saga of a Cat And a Frisbee who must Kill a Girl in A Manhattan Penthouse', 2006, 'G')
('SLEEPLESS MONSOON', 'A Amazing Saga of a Moose And a Pastry Chef who must Escape a Butler in Australia', 2006, 'G')
('STRANGER STRANGERS', 'A Awe-Inspiring Yarn of a Womanizer And a Explorer who must Fight a Woman in The First Manned Space Station', 2006, 'G')
('SUICIDES SILENCE', 'A Emotional Character Study of a Car And a Girl who must Face a Composer in A U-Boat', 2006, 'G')
('TEEN APOLLO', 'A Awe-Inspiring Drama of a Dog And a Man who must Escape a Robot in A Shark Tank', 2006, 'G')
('TORQUE BOUND', 'A Emotional Display of a Crocodile And a Husband who must Reach a Man in Ancient Japan', 2006, 'G')
('TRAFFIC HOBBIT', 'A Amazing Epistle of a Squirrel And a Lumberjack who must Succumb a Database Administrator in A U-Boat', 2006, 'G')
('TRAP GUYS', 'A Unbelieveable Story of a Boy And a Mad Cow who must Challenge a Database Administrator in The Sahara Desert', 2006, 'G')
('TRUMAN CRAZY', 'A Thrilling Epistle of a Moose And a Boy who must Meet a Database Administrator in A Monastery', 2006, 'G')
('TYCOON GATHERING', 'A Emotional Display of a Husband And a A Shark who must Succumb a Madman in A Manhattan Penthouse', 2006, 'G')
('WAKE JAWS', 'A Beautiful Saga of a Feminist And a Composer who must Challenge a Moose in Berlin', 2006, 'G')
('WAR NOTTING', 'A Boring Drama of a Teacher And a Sumo Wrestler who must Challenge a Secret Agent in The Canadian Rockies', 2006, 'G')
('WATERFRONT DELIVERANCE', 'A Unbelieveable Documentary of a Dentist And a Technical Writer who must Build a Womanizer in Nigeria', 2006, 'G')
('WEREWOLF LOLA', 'A Fanciful Story of a Man And a Sumo Wrestler who must Outrace a Student in A Monastery', 2006, 'G')
('WEST LION', 'A Intrepid Drama of a Butler And a Lumberjack who must Challenge a Database Administrator in A Manhattan Penthouse', 2006, 'G')

In [4]:
# Stored Procedures 
# 1. Turning what we just did into a stored procedure that gives us the count
sakila_cursor = sakila_connection.cursor()
drop_procedure = ("DROP PROCEDURE IF EXISTS count_film")
sakila_cursor.execute(drop_procedure)

movie_procedure = ('''CREATE PROCEDURE count_film (IN p_rating VARCHAR(20), IN p_release_year INT, OUT total_count INT)

                    SELECT COUNT(*) INTO total_count 
                    FROM film
                    WHERE release_year = p_release_year
                    AND rating = p_rating;
                    ''')
sakila_cursor.execute(movie_procedure)

sakila_connection.commit()

In [9]:
# Calling the procedure with Input
sakila_cursor = sakila_connection.cursor()
movie_data_procedure = ('G',2006,0)
result = sakila_cursor.callproc('count_film', movie_data_procedure)
print(result[2])

sakila_cursor.close()

# sakila_connection.close()

178

True

In [ ]:
# 2. Create stored procedure to count the number of distinct customers who spent x amount of money where x is an input variable. - Student to do